cocos2dx/cocos2d
cocos2dx/live2d
cocos2dx/proj.win32
cocos2dx/.cocos-project.json
*.txt
cocos2dx/Classes/User/SceneManager.h
cocos2dx/Classes/User/SceneManager.cpp
cocos2dx/proj.android
cocos2dx/proj.ios_mac
cocos2dx/proj.win32
cocos2dx/live2d
cocos2dx/Classes/Lib
cocos2dx/proj.win32/cocos2dx.vcxproj
cocos2dx/proj.win32/cocos2dx.vcxproj
cocos2dx/proj.win32/cocos2dx.vcxproj
cocos2dx/Classes/User/SceneManager.cpp
cocos2dx/Classes/User/SceneManager.h
*.vcxproj